@model Proyecto_Oscar_Tonny.transacciones

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "transacciones", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div>
            <form action="/" method="post">
                <select id="Ofrecido">
                    @{foreach (var item in ViewBag.ByOwnerList)
                    {
                        <option value="item1">@item.nombre</option>
                    }}
                </select>
                <select id="Deseado">
                    @{foreach (var item in ViewBag.ProductosAll)
                    {
                        <option value="item2">@item.nombre</option>
                    }}
                </select>
                        <input type="submit" value="Create" class="btn btn-default" />
            </form>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
